# Pandas

## 학습내용
- pandas 라이브러리 불러오기
- CSV 읽기, 저장
  - read_csv
  - to_csv
- 기본 EDA(탐색적 데이터 분석)
  - head()
  - shape
  - info()
  - describe()
  - corr()
- 데이터프레임과 시리즈
  - 하나의 컬럼(피처) 선택
  - 두개 이상의 컬럼(피처) 선택
  - 카테고리별 카운트
- 결측치 확인 및 처리
  - 결측치 확인
  - 결측치 처리
- 범주형 데이터 처리

<hr/>

### pandas 불러오기

In [1]:
import pandas as pd

### csv 읽기 저장

In [49]:
# 구글드라이브 연결
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [50]:
df = pd.read_csv("drive/My Drive/Colab Notebooks/youtube/agileML/titanic/data/train.csv")
# df = pd.read_csv("train.csv")

#dacon사이트 - 교육 - 타이타닉 - 데이터 다운로드

In [51]:
df.to_csv("drive/My Drive/Colab Notebooks/youtube/agileML/pandas/newfile2.csv")
# df = pd.to_csv("newfile.csv")

### 기본 EDA

In [52]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [53]:
df.tail(1)

     PassengerId  Survived  Pclass  ...  Fare Cabin  Embarked
890          891         0       3  ...  7.75   NaN         Q

[1 rows x 12 columns]

In [54]:
df.shape

(891, 12)

In [55]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [56]:
df.describe()

       PassengerId    Survived      Pclass  ...       SibSp       Parch        Fare
count   891.000000  891.000000  891.000000  ...  891.000000  891.000000  891.000000
mean    446.000000    0.383838    2.308642  ...    0.523008    0.381594   32.204208
std     257.353842    0.486592    0.836071  ...    1.102743    0.806057   49.693429
min       1.000000    0.000000    1.000000  ...    0.000000    0.000000    0.000000
25%     223.500000    0.000000    2.000000  ...    0.000000    0.000000    7.910400
50%     446.000000    0.000000    3.000000  ...    0.000000    0.000000   14.454200
75%     668.500000    1.000000    3.000000  ...    1.000000    0.000000   31.000000
max     891.000000    1.000000    3.000000  ...    8.000000    6.000000  512.329200

[8 rows x 7 columns]

In [57]:
df.corr()

             PassengerId  Survived    Pclass  ...     SibSp     Parch      Fare
PassengerId     1.000000 -0.005007 -0.035144  ... -0.057527 -0.001652  0.012658
Survived       -0.005007  1.000000 -0.338481  ... -0.035322  0.081629  0.257307
Pclass         -0.035144 -0.338481  1.000000  ...  0.083081  0.018443 -0.549500
Age             0.036847 -0.077221 -0.369226  ... -0.308247 -0.189119  0.096067
SibSp          -0.057527 -0.035322  0.083081  ...  1.000000  0.414838  0.159651
Parch          -0.001652  0.081629  0.018443  ...  0.414838  1.000000  0.216225
Fare            0.012658  0.257307 -0.549500  ...  0.159651  0.216225  1.000000

[7 rows x 7 columns]

### 데이터프레임과 시리즈

In [58]:
df.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [59]:
#하나의 컬럼(피처) 선택
df['Fare']

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [60]:
df.Fare

0       7.2500
1      71.2833
2       7.9250
3      53.1000
4       8.0500
        ...
886    13.0000
887    30.0000
888    23.4500
889    30.0000
890     7.7500
Name: Fare, Length: 891, dtype: float64

In [61]:
#두개 이상의 컬럼(피처) 선택
df[['Pclass','Fare']]

     Pclass     Fare
0         3   7.2500
1         1  71.2833
2         3   7.9250
3         1  53.1000
4         3   8.0500
..      ...      ...
886       2  13.0000
887       1  30.0000
888       3  23.4500
889       1  30.0000
890       3   7.7500

[891 rows x 2 columns]

In [62]:
#카테고리별 카운트
df['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

### 결측치

In [63]:
#결측치 확인
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [64]:
#결측치 처리 (값 채우기, 열삭제, 행삭제)

In [65]:
#평균
df['Age'].mean()

29.69911764705882

In [66]:
#Age 값 채우기
df['Age'] = df['Age'].fillna(df['Age'].mean())
# df['Age'] = df['Age'].fillna(df['Age'].median())

In [67]:
df.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [68]:
#Cabin 열 삭제
df = df.copy()
df = df.drop('Cabin', axis=1)

In [69]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       2
dtype: int64

In [70]:
df['Embarked'].value_counts()

S    644
C    168
Q     77
Name: Embarked, dtype: int64

In [71]:
df['Embarked'].mode()[0]

'S'

In [72]:
#Embarked 값 채우기
df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])  #Embarked 최빈값

In [73]:
df.isnull().sum()

PassengerId    0
Survived       0
Pclass         0
Name           0
Sex            0
Age            0
SibSp          0
Parch          0
Ticket         0
Fare           0
Embarked       0
dtype: int64

### 범주형 데이터 처리

In [74]:
df.head()

   PassengerId  Survived  Pclass  ...            Ticket     Fare  Embarked
0            1         0       3  ...         A/5 21171   7.2500         S
1            2         1       1  ...          PC 17599  71.2833         C
2            3         1       3  ...  STON/O2. 3101282   7.9250         S
3            4         1       1  ...            113803  53.1000         S
4            5         0       3  ...            373450   8.0500         S

[5 rows x 11 columns]

In [75]:
# 성별 원핫인코딩
df_sex = pd.get_dummies(df['Sex'])
df_sex.head()

   female  male
0       0     1
1       1     0
2       1     0
3       1     0
4       0     1

In [76]:
df_encoding = pd.concat([df, df_sex], axis=1)

In [77]:
df_encoding.head(1)

   PassengerId  Survived  Pclass  ... Embarked female  male
0            1         0       3  ...        S      0     1

[1 rows x 13 columns]

In [78]:
df_encoding = df_encoding.drop('Sex', axis=1)

In [79]:
df_encoding.head(1)

   PassengerId  Survived  Pclass  ... Embarked  female  male
0            1         0       3  ...        S       0     1

[1 rows x 12 columns]

In [80]:
# Embarked 원핫인코딩
df_embarked = pd.get_dummies(df_encoding['Embarked'])
df_encoding = pd.concat([df_encoding, df_embarked], axis=1)
df_encoding = df_encoding.drop('Embarked', axis=1)

In [81]:
df_encoding.head(1)

   PassengerId  Survived  Pclass                     Name  ...  male  C  Q  S
0            1         0       3  Braund, Mr. Owen Harris  ...     1  0  0  1

[1 rows x 14 columns]

In [82]:
del df_sex, df_embarked

In [83]:
df_encoding['Ticket'].value_counts()

347082               7
CA. 2343             7
1601                 7
347088               6
CA 2144              6
                    ..
349241               1
STON/O 2. 3101285    1
345763               1
349242               1
343120               1
Name: Ticket, Length: 681, dtype: int64

In [84]:
df_encoding['Ticket'].unique()

array(['A/5 21171', 'PC 17599', 'STON/O2. 3101282', '113803', '373450',
       '330877', '17463', '349909', '347742', '237736', 'PP 9549',
       '113783', 'A/5. 2151', '347082', '350406', '248706', '382652',
       '244373', '345763', '2649', '239865', '248698', '330923', '113788',
       '347077', '2631', '19950', '330959', '349216', 'PC 17601',
       'PC 17569', '335677', 'C.A. 24579', 'PC 17604', '113789', '2677',
       'A./5. 2152', '345764', '2651', '7546', '11668', '349253',
       'SC/Paris 2123', '330958', 'S.C./A.4. 23567', '370371', '14311',
       '2662', '349237', '3101295', 'A/4. 39886', 'PC 17572', '2926',
       '113509', '19947', 'C.A. 31026', '2697', 'C.A. 34651', 'CA 2144',
       '2669', '113572', '36973', '347088', 'PC 17605', '2661',
       'C.A. 29395', 'S.P. 3464', '3101281', '315151', 'C.A. 33111',
       'S.O.C. 14879', '2680', '1601', '348123', '349208', '374746',
       '248738', '364516', '345767', '345779', '330932', '113059',
       'SO/C 14885', '3101278', 'W./C. 6608', 'SOTON/OQ 392086', '343275',
       '343276', '347466', 'W.E.P. 5734', 'C.A. 2315', '364500', '374910',
       'PC 17754', 'PC 17759', '231919', '244367', '349245', '349215',
       '35281', '7540', '3101276', '349207', '343120', '312991', '349249',
       '371110', '110465', '2665', '324669', '4136', '2627',
       'STON/O 2. 3101294', '370369', 'PC 17558', 'A4. 54510', '27267',
       '370372', 'C 17369', '2668', '347061', '349241',
       'SOTON/O.Q. 3101307', 'A/5. 3337', '228414', 'C.A. 29178',
       'SC/PARIS 2133', '11752', '7534', 'PC 17593', '2678', '347081',
       'STON/O2. 3101279', '365222', '231945', 'C.A. 33112', '350043',
       '230080', '244310', 'S.O.P. 1166', '113776', 'A.5. 11206',
       'A/5. 851', 'Fa 265302', 'PC 17597', '35851', 'SOTON/OQ 392090',
       '315037', 'CA. 2343', '371362', 'C.A. 33595', '347068', '315093',
       '363291', '113505', 'PC 17318', '111240', 'STON/O 2. 3101280',
       '17764', '350404', '4133', 'PC 17595', '250653', 'LINE',
       'SC/PARIS 2131', '230136', '315153', '113767', '370365', '111428',
       '364849', '349247', '234604', '28424', '350046', 'PC 17610',
       '368703', '4579', '370370', '248747', '345770', '3101264', '2628',
       'A/5 3540', '347054', '2699', '367231', '112277',
       'SOTON/O.Q. 3101311', 'F.C.C. 13528', 'A/5 21174', '250646',
       '367229', '35273', 'STON/O2. 3101283', '243847', '11813',
       'W/C 14208', 'SOTON/OQ 392089', '220367', '21440', '349234',
       '19943', 'PP 4348', 'SW/PP 751', 'A/5 21173', '236171', '347067',
       '237442', 'C.A. 29566', 'W./C. 6609', '26707', 'C.A. 31921',
       '28665', 'SCO/W 1585', '367230', 'W./C. 14263',
       'STON/O 2. 3101275', '2694', '19928', '347071', '250649', '11751',
       '244252', '362316', '113514', 'A/5. 3336', '370129', '2650',
       'PC 17585', '110152', 'PC 17755', '230433', '384461', '110413',
       '112059', '382649', 'C.A. 17248', '347083', 'PC 17582', 'PC 17760',
       '113798', '250644', 'PC 17596', '370375', '13502', '347073',
       '239853', 'C.A. 2673', '336439', '347464', '345778', 'A/5. 10482',
       '113056', '349239', '345774', '349206', '237798', '370373',
       '19877', '11967', 'SC/Paris 2163', '349236', '349233', 'PC 17612',
       '2693', '113781', '19988', '9234', '367226', '226593', 'A/5 2466',
       '17421', 'PC 17758', 'P/PP 3381', 'PC 17485', '11767', 'PC 17608',
       '250651', '349243', 'F.C.C. 13529', '347470', '29011', '36928',
       '16966', 'A/5 21172', '349219', '234818', '345364', '28551',
       '111361', '113043', 'PC 17611', '349225', '7598', '113784',
       '248740', '244361', '229236', '248733', '31418', '386525',
       'C.A. 37671', '315088', '7267', '113510', '2695', '2647', '345783',
       '237671', '330931', '330980', 'SC/PARIS 2167', '2691',
       'SOTON/O.Q. 3101310', 'C 7076', '110813', '2626', '14313',
       'PC 17477', '11765', '3101267', '323951', 'C 7077', '113503',
       '2648', '347069', 'PC 17757', '2653', 'STON/O 2. 3101293',
       '349227', '27849', '367655', 'SC 1748', '113760', '350034',
       '3101277', '350052', '350407', '28403', '244278', '240929',
       'STON/O 2. 3101289', '341826', '4137', '315096', '28664', '347064',
       '29106', '312992', '349222', '394140', 'STON/O 2. 3101269',
       '343095', '28220', '250652', '28228', '345773', '349254',
       'A/5. 13032', '315082', '347080', 'A/4. 34244', '2003', '250655',
       '364851', 'SOTON/O.Q. 392078', '110564', '376564', 'SC/AH 3085',
       'STON/O 2. 3101274', '13507', 'C.A. 18723', '345769', '347076',
       '230434', '65306', '33638', '113794', '2666', '113786', '65303',
       '113051', '17453', 'A/5 2817', '349240', '13509', '17464',
       'F.C.C. 13531', '371060', '19952', '364506', '111320', '234360',
       'A/S 2816', 'SOTON/O.Q. 3101306', '113792', '36209', '323592',
       '315089', 'SC/AH Basle 541', '7553', '31027', '3460', '350060',
       '3101298', '239854', 'A/5 3594', '4134', '11771', 'A.5. 18509',
       '65304', 'SOTON/OQ 3101317', '113787', 'PC 17609', 'A/4 45380',
       '36947', 'C.A. 6212', '350035', '315086', '364846', '330909',
       '4135', '26360', '111427', 'C 4001', '382651', 'SOTON/OQ 3101316',
       'PC 17473', 'PC 17603', '349209', '36967', 'C.A. 34260', '226875',
       '349242', '12749', '349252', '2624', '2700', '367232',
       'W./C. 14258', 'PC 17483', '3101296', '29104', '2641', '2690',
       '315084', '113050', 'PC 17761', '364498', '13568', 'WE/P 5735',
       '2908', '693', 'SC/PARIS 2146', '244358', '330979', '2620',
       '347085', '113807', '11755', '345572', '372622', '349251',
       '218629', 'SOTON/OQ 392082', 'SOTON/O.Q. 392087', 'A/4 48871',
       '349205', '2686', '350417', 'S.W./PP 752', '11769', 'PC 17474',
       '14312', 'A/4. 20589', '358585', '243880', '2689',
       'STON/O 2. 3101286', '237789', '13049', '3411', '237565', '13567',
       '14973', 'A./5. 3235', 'STON/O 2. 3101273', 'A/5 3902', '364848',
       'SC/AH 29037', '248727', '2664', '349214', '113796', '364511',
       '111426', '349910', '349246', '113804', 'SOTON/O.Q. 3101305',
       '370377', '364512', '220845', '31028', '2659', '11753', '350029',
       '54636', '36963', '219533', '349224', '334912', '27042', '347743',
       '13214', '112052', '237668', 'STON/O 2. 3101292', '350050',
       '349231', '13213', 'S.O./P.P. 751', 'CA. 2314', '349221', '8475',
       '330919', '365226', '349223', '29751', '2623', '5727', '349210',
       'STON/O 2. 3101285', '234686', '312993', 'A/5 3536', '19996',
       '29750', 'F.C. 12750', 'C.A. 24580', '244270', '239856', '349912',
       '342826', '4138', '330935', '6563', '349228', '350036', '24160',
       '17474', '349256', '2672', '113800', '248731', '363592', '35852',
       '348121', 'PC 17475', '36864', '350025', '223596', 'PC 17476',
       'PC 17482', '113028', '7545', '250647', '348124', '34218', '36568',
       '347062', '350048', '12233', '250643', '113806', '315094', '36866',
       '236853', 'STON/O2. 3101271', '239855', '28425', '233639',
       '349201', '349218', '16988', '376566', 'STON/O 2. 3101288',
       '250648', '113773', '335097', '29103', '392096', '345780',
       '349204', '350042', '29108', '363294', 'SOTON/O2 3101272', '2663',
       '347074', '112379', '364850', '8471', '345781', '350047',
       'S.O./P.P. 3', '2674', '29105', '347078', '383121', '36865',
       '2687', '113501', 'W./C. 6607', 'SOTON/O.Q. 3101312', '374887',
       '3101265', '12460', 'PC 17600', '349203', '28213', '17465',
       '349244', '2685', '2625', '347089', '347063', '112050', '347087',
       '248723', '3474', '28206', '364499', '112058', 'STON/O2. 3101290',
       'S.C./PARIS 2079', 'C 7075', '315098', '19972', '368323', '367228',
       '2671', '347468', '2223', 'PC 17756', '315097', '392092', '11774',
       'SOTON/O2 3101287', '2683', '315090', 'C.A. 5547', '349213',
       '347060', 'PC 17592', '392091', '113055', '2629', '350026',
       '28134', '17466', '233866', '236852', 'SC/PARIS 2149', 'PC 17590',
       '345777', '349248', '695', '345765', '2667', '349212', '349217',
       '349257', '7552', 'C.A./SOTON 34068', 'SOTON/OQ 392076', '211536',
       '112053', '111369', '370376'], dtype=object)

In [85]:
df_encoding.head(1)

   PassengerId  Survived  Pclass                     Name  ...  male  C  Q  S
0            1         0       3  Braund, Mr. Owen Harris  ...     1  0  0  1

[1 rows x 14 columns]

In [86]:
# 숫자로 처리가 어려운 행 삭제 PassengerId, Name, Ticket
df_encoding = df_encoding.drop('PassengerId', axis=1) #PassengerId 행 삭제
df_encoding = df_encoding.drop('Name', axis=1) #Name 행 삭제
df_encoding = df_encoding.drop('Ticket', axis=1) #Ticket 행 삭제

In [87]:
df_encoding.head()

   Survived  Pclass   Age  SibSp  Parch     Fare  female  male  C  Q  S
0         0       3  22.0      1      0   7.2500       0     1  0  0  1
1         1       1  38.0      1      0  71.2833       1     0  1  0  0
2         1       3  26.0      0      0   7.9250       1     0  0  0  1
3         1       1  35.0      1      0  53.1000       1     0  0  0  1
4         0       3  35.0      0      0   8.0500       0     1  0  0  1

In [88]:
# 데이터 저장
df_encoding.to_csv("drive/My Drive/Colab Notebooks/youtube/agileML/pandas/train_encoding.csv")

## 과제
- 결측치 처리와 범주형 데이터 처리를 함수로 만들어 보세요
- 가능하면 혼자서 해보고나서 아래 해답을 보세요!

  
  [처리해야 할 것]
  - 결측치 처리(Age, Cabin, Embarked)
  - 범주형 데이터 처리(원핫인코딩:Sex, Embarked)
  - PassengerId, Name, Ticket 행 삭제

In [89]:
# 원본 데이터 불러오기
train = pd.read_csv("drive/My Drive/Colab Notebooks/youtube/agileML/titanic/data/train.csv")

In [90]:
# 과제:전처리 함수
def preprocessing(df):
  # 이곳에 코드를 작성해주세요!(최종 리턴 값은 아래 df입니다)
  
  return df

In [91]:
# 함수 실행 및 head()값 출력
train_pre = preprocessing(train)
train_pre.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [92]:
# 해답을 먼저 보진 마세요 ^^

In [93]:
# 과제 풀어 보시고 내려오는거죠? :)

In [94]:
# 꼭 한번은 해보고 확인해주세요!

## 과제 해답

In [95]:
train = pd.read_csv("drive/My Drive/Colab Notebooks/youtube/agileML/titanic/data/train.csv")

def preprocessing(df):
  '''
  - 결측치 처리(Age, Cabin, Embarked)
  - 범주형 데이터 처리(원핫인코딩:Sex, Embarked)
  - PassengerId, Name, Ticket 행 삭제
  '''
  #결측치 처리
  df['Age'] = df['Age'].fillna(df['Age'].mean())  #age 평균값
  df['Embarked'] = df['Embarked'].fillna(df['Embarked'].mode()[0])  #Embarked 최빈값
  df = df.drop('Cabin', axis=1) #Cabin 행 삭제

  #범주형 데이터 처리 (원핫 인코딩 후 원본 컬럼은 삭제함)
  df_encoding = pd.get_dummies(df[['Sex','Embarked']])
  df = pd.concat([df, df_encoding], axis=1)
  df = df.drop('Sex', axis=1) #Sex 행 삭제 
  df = df.drop('Embarked', axis=1) #Embarked 행 삭제

  #승객번호, 이름, 티켓 삭제
  df = df.drop('PassengerId', axis=1) #Name 행 삭제
  df = df.drop('Name', axis=1) #Name 행 삭제
  df = df.drop('Ticket', axis=1) #Ticket 행 삭제

  return df


train_pre = preprocessing(train)
train_pre.head()

   Survived  Pclass   Age  SibSp  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0         0       3  22.0      1  ...         1           0           0           1
1         1       1  38.0      1  ...         0           1           0           0
2         1       3  26.0      0  ...         0           0           0           1
3         1       1  35.0      1  ...         0           0           0           1
4         0       3  35.0      0  ...         1           0           0           1

[5 rows x 11 columns]

**응원하겠습니다 !! 화이팅! **